[data-alert] {
  color: var(--alert-color, black);
  background-color: var(--bg, var(--component-primary));
  border-radius: var(--alert-border-radius);
  padding: var(--alert-padding);
  margin-top: 0;
  margin-bottom: var(--component-margin-bottom, 0);
  background-image: linear-gradient(var(--darken), var(--darken));
  display: block;
}

[data-alert]:empty {
  display: none;
}

a[data-alert] {
  color: var(--alert-color, black);
  display: inline-block;
}

[data-alert][data-type="primary"] { --bg: var(--component-primary); }
[data-alert][data-type="secondary"] { --bg: var(--component-secondary); }
[data-alert][data-type="success"] { --bg: var(--component-success); }
[data-alert][data-type="info"] { --bg: var(--component-info); }
[data-alert][data-type="warning"] { --bg: var(--component-warning); }
[data-alert][data-type="danger"] { --bg: var(--component-danger); }
[data-alert][data-type="disabled"] { --bg: var(--component-disabled); }