button,
[data-button] {
  font-family: var(--button-font-family);
  font-size: var(--button-font-size);
  font-weight: var(--button-font-weight);
  text-align: center;
  text-decoration: none;
  color: var(--color, white);
  background-color: var(--bg, var(--component-primary));
  border-radius: var(--button-border-radius);
  border-style: solid;
  border-width: var(--button-border-width);
  border-color: var(--border, var(--component-primary));
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  padding: var(--button-padding);
  cursor: pointer;
  line-height: calc((var(--button-font-size) * var(--line-height)) - 2px);
  display: inline-block;
  transition: var(--button-speed) all;
}

button:hover,
[data-button]:hover {
  color: var(--button-color, white);
  background-image: linear-gradient(var(--darken), var(--darken));
  text-decoration: none;
}

button:active,
[data-button]:active {
  background-image: linear-gradient(var(--lighten), var(--lighten));
}

button:focus,
[data-button]:focus {
  outline: none;
  box-shadow: var(--button-focus);
}

button:disabled,
[data-button][data-disabled] {
  opacity: 0.2;
  text-decoration: none;
  opacity: 0.5;
  cursor: not-allowed;
}

button[data-type*='outline'],
[data-button][data-type*='outline'] {
  border-color: var(--border, var(--component-primary));
  background-color: transparent;
  color: var(--color, var(--link-color));
}

button[data-type*='outline']:hover,
[data-button][data-type*='outline']:hover,
button[data-type*='outline']:focus,
[data-button][data-type*='outline']:focus {
  background-image: none;
  text-decoration: var(--link-text-decoration-hover);
}

button[data-type*='link'],
[data-button][data-type*='link'] {
  border-color: transparent;
  background-color: transparent;
  color: var(--color, var(--link-color));
  text-decoration: var(--link-text-decoration);
}

button[data-type*='link']:hover,
[data-button][data-type*='link']:hover,
button[data-type*='link']:focus,
[data-button][data-type*='link']:focus {
  border-color: transparent;
  background-image: none;
  color: var(--link-color-hover);
  text-decoration: var(--link-text-decoration-hover);
}

button[data-type*='primary'],
[data-button][data-type*='primary'] {
  --border: var(--component-primary);
  --bg: var(--component-primary);
  --color: white;
}

button[data-type*='secondary'],
[data-button][data-type*='secondary'] {
  --border: var(--component-secondary);
  --bg: var(--component-secondary);
  --color: white;
}

button[data-type*='success'],
[data-button][data-type*='success'] {
  --border: var(--component-success);
  --bg: var(--component-success);
  --color: white;
}

button[data-type*='info'],
[data-button][data-type*='info'] {
  --border: var(--component-info);
  --bg: var(--component-info);
  --color: white;
}

button[data-type*='warning'],
[data-button][data-type*='warning'] {
  --border: var(--component-warning);
  --bg: var(--component-warning);
  --color: white;
}

button[data-type*='danger'],
[data-button][data-type*='danger'] {
  --border: var(--component-danger);
  --bg: var(--component-danger);
  --color: white;
}

button[data-type*='disabled'],
[data-button][data-type*='disabled'] {
  --border: var(--component-disabled);
  --bg: var(--component-disabled);
  --color: white;
}
