[data-chip] {
  font-size: var(--chip-font-size);
  color: var(--color, var(--chip-color));
  background-color: var(--bg, var(--gray-1));
  border-radius: var(--chip-border-radius);
  border: 2px solid var(--border, var(--gray-5));
  padding: var(--chip-padding);
  vertical-align: baseline;
  display: inline-block;
  transition: var(--chip-speed) all;
  font-weight: var(--chip-weight);
}

[data-chip]:empty {
  display: none;
}

a[data-chip]:hover {
  background-image: linear-gradient(var(--darken), var(--darken));
  text-decoration: none;
  --chip-border-color: var(--chip-link-color);
}

a[data-chip][data-type]:hover {
  color: var(--white);
}

a[data-chip]:focus {
  outline: none;
  box-shadow: var(--chip-focus);
}

[data-chip][data-type="primary"] { --bg: var(--component-primary); --border: var(--component-primary); --color: white}
[data-chip][data-type="secondary"] { --bg: var(--component-secondary); --border: var(--component-secondary); --color: white}
[data-chip][data-type="success"] { --bg: var(--component-success); --border: var(--component-success); --color: white}
[data-chip][data-type="info"] { --bg: var(--component-info); --border: var(--component-info); --color: white}
[data-chip][data-type="warning"] { --bg: var(--component-warning); --border: var(--component-warning); --color: white}
[data-chip][data-type="danger"] { --bg: var(--component-danger); --border: var(--component-danger); --color: white}
[data-chip][data-type="disabled"] { --bg: var(--component-disabled); --border: var(--component-disabled); --color: white}
