[data-color*='white'] { color: var(--white); }
[data-color*='gray0'] { color: var(--gray-0); }
[data-color*='gray1'] { color: var(--gray-1); }
[data-color*='gray2'] { color: var(--gray-2); }
[data-color*='gray3'] { color: var(--gray-3); }
[data-color*='gray4'] { color: var(--gray-4); }
[data-color*='gray5'] { color: var(--gray-5); }
[data-color*='gray6'] { color: var(--gray-6); }
[data-color*='gray7'] { color: var(--gray-7); }
[data-color*='gray8'] { color: var(--gray-8); }
[data-color*='gray9'] { color: var(--gray-9); }
[data-color*='black'] { color: var(--black); }
[data-color*='red'] { color: var(--red); }
[data-color*='pink'] { color: var(--pink); }
[data-color*='grape'] { color: var(--grape); }
[data-color*='violet'] { color: var(--violet); }
[data-color*='indigo'] { color: var(--indigo); }
[data-color*='blue'] { color: var(--blue); }
[data-color*='cyan'] { color: var(--cyan); }
[data-color*='teal'] { color: var(--teal); }
[data-color*='green'] { color: var(--green); }
[data-color*='lime'] { color: var(--lime); }
[data-color*='yellow'] { color: var(--yellow); }
[data-color*='orange'] { color: var(--orange); }

[data-bg*='white'] { background-color: var(--white); }
[data-bg*='gray0'] { background-color: var(--gray-0); }
[data-bg*='gray1'] { background-color: var(--gray-1); }
[data-bg*='gray2'] { background-color: var(--gray-2); }
[data-bg*='gray3'] { background-color: var(--gray-3); }
[data-bg*='gray4'] { background-color: var(--gray-4); }
[data-bg*='gray5'] { background-color: var(--gray-5); }
[data-bg*='gray6'] { background-color: var(--gray-6); }
[data-bg*='gray7'] { background-color: var(--gray-7); }
[data-bg*='gray8'] { background-color: var(--gray-8); }
[data-bg*='gray9'] { background-color: var(--gray-9); }
[data-bg*='black'] { background-color: var(--black); }
[data-bg*='red'] { background-color: var(--red); }
[data-bg*='pink'] { background-color: var(--pink); }
[data-bg*='grape'] { background-color: var(--grape); }
[data-bg*='violet'] { background-color: var(--violet); }
[data-bg*='indigo'] { background-color: var(--indigo); }
[data-bg*='blue'] { background-color: var(--blue); }
[data-bg*='cyan'] { background-color: var(--cyan); }
[data-bg*='teal'] { background-color: var(--teal); }
[data-bg*='green'] { background-color: var(--green); }
[data-bg*='lime'] { background-color: var(--lime); }
[data-bg*='yellow'] { background-color: var(--yellow); }
[data-bg*='orange'] { background-color: var(--orange); }

[data-b] { border-width: var(--component-border-width); border-style: solid; }
[data-b*='white'] { border-color: var(--white); }
[data-b*='gray0'] { border-color: var(--gray-0); }
[data-b*='gray1'] { border-color: var(--gray-1); }
[data-b*='gray2'] { border-color: var(--gray-2); }
[data-b*='gray3'] { border-color: var(--gray-3); }
[data-b*='gray4'] { border-color: var(--gray-4); }
[data-b*='gray5'] { border-color: var(--gray-5); }
[data-b*='gray6'] { border-color: var(--gray-6); }
[data-b*='gray7'] { border-color: var(--gray-7); }
[data-b*='gray8'] { border-color: var(--gray-8); }
[data-b*='gray9'] { border-color: var(--gray-9); }
[data-b*='black'] { border-color: var(--black); }
[data-b*='red'] { border-color: var(--red); }
[data-b*='pink'] { border-color: var(--pink); }
[data-b*='grape'] { border-color: var(--grape); }
[data-b*='violet'] { border-color: var(--violet); }
[data-b*='indigo'] { border-color: var(--indigo); }
[data-b*='blue'] { border-color: var(--blue); }
[data-b*='cyan'] { border-color: var(--cyan); }
[data-b*='teal'] { border-color: var(--teal); }
[data-b*='green'] { border-color: var(--green); }
[data-b*='lime'] { border-color: var(--lime); }
[data-b*='yellow'] { border-color: var(--yellow); }
[data-b*='orange'] { border-color: var(--orange); }

[data-bl*='white'] { border-left-color: var(--white); }
[data-bl*='gray0'] { border-left-color: var(--gray-0); }
[data-bl*='gray1'] { border-left-color: var(--gray-1); }
[data-bl*='gray2'] { border-left-color: var(--gray-2); }
[data-bl*='gray3'] { border-left-color: var(--gray-3); }
[data-bl*='gray4'] { border-left-color: var(--gray-4); }
[data-bl*='gray5'] { border-left-color: var(--gray-5); }
[data-bl*='gray6'] { border-left-color: var(--gray-6); }
[data-bl*='gray7'] { border-left-color: var(--gray-7); }
[data-bl*='gray8'] { border-left-color: var(--gray-8); }
[data-bl*='gray9'] { border-left-color: var(--gray-9); }
[data-bl*='black'] { border-left-color: var(--black); }
[data-bl*='red'] { border-left-color: var(--red); }
[data-bl*='pink'] { border-left-color: var(--pink); }
[data-bl*='grape'] { border-left-color: var(--grape); }
[data-bl*='violet'] { border-left-color: var(--violet); }
[data-bl*='indigo'] { border-left-color: var(--indigo); }
[data-bl*='blue'] { border-left-color: var(--blue); }
[data-bl*='cyan'] { border-left-color: var(--cyan); }
[data-bl*='teal'] { border-left-color: var(--teal); }
[data-bl*='green'] { border-left-color: var(--green); }
[data-bl*='lime'] { border-left-color: var(--lime); }
[data-bl*='yellow'] { border-left-color: var(--yellow); }
[data-bl*='orange'] { border-left-color: var(--orange); }

[data-shadow*='0'] { box-shadow: none; }
[data-shadow*='1'] { box-shadow: 0 0.0625rem 0.625rem var(--component-shadow); }
[data-shadow*='2'] { box-shadow: 0 0.125rem 0.125rem var(--component-shadow); }
[data-shadow*='3'] { box-shadow: 0 0.25rem 0.25rem var(--component-shadow); }
[data-shadow*='4'] { box-shadow: 0 0.5rem 0.5rem var(--component-shadow); }