[color*='white'] { color: var(--white); }
[color*='gray0'] { color: var(--gray-0); }
[color*='gray1'] { color: var(--gray-1); }
[color*='gray2'] { color: var(--gray-2); }
[color*='gray3'] { color: var(--gray-3); }
[color*='gray4'] { color: var(--gray-4); }
[color*='gray5'] { color: var(--gray-5); }
[color*='gray6'] { color: var(--gray-6); }
[color*='gray7'] { color: var(--gray-7); }
[color*='gray8'] { color: var(--gray-8); }
[color*='gray9'] { color: var(--gray-9); }
[color*='black'] { color: var(--black); }
[color*='red'] { color: var(--red); }
[color*='pink'] { color: var(--pink); }
[color*='grape'] { color: var(--grape); }
[color*='violet'] { color: var(--violet); }
[color*='indigo'] { color: var(--indigo); }
[color*='blue'] { color: var(--blue); }
[color*='cyan'] { color: var(--cyan); }
[color*='teal'] { color: var(--teal); }
[color*='green'] { color: var(--green); }
[color*='lime'] { color: var(--lime); }
[color*='yellow'] { color: var(--yellow); }
[color*='orange'] { color: var(--orange); }

[bg*='white'] { background-color: var(--white); }
[bg*='gray0'] { background-color: var(--gray-0); }
[bg*='gray1'] { background-color: var(--gray-1); }
[bg*='gray2'] { background-color: var(--gray-2); }
[bg*='gray3'] { background-color: var(--gray-3); }
[bg*='gray4'] { background-color: var(--gray-4); }
[bg*='gray5'] { background-color: var(--gray-5); }
[bg*='gray6'] { background-color: var(--gray-6); }
[bg*='gray7'] { background-color: var(--gray-7); }
[bg*='gray8'] { background-color: var(--gray-8); }
[bg*='gray9'] { background-color: var(--gray-9); }
[bg*='black'] { background-color: var(--black); }
[bg*='red'] { background-color: var(--red); }
[bg*='pink'] { background-color: var(--pink); }
[bg*='grape'] { background-color: var(--grape); }
[bg*='violet'] { background-color: var(--violet); }
[bg*='indigo'] { background-color: var(--indigo); }
[bg*='blue'] { background-color: var(--blue); }
[bg*='cyan'] { background-color: var(--cyan); }
[bg*='teal'] { background-color: var(--teal); }
[bg*='green'] { background-color: var(--green); }
[bg*='lime'] { background-color: var(--lime); }
[bg*='yellow'] { background-color: var(--yellow); }
[bg*='orange'] { background-color: var(--orange); }

[border] { border-width: var(--component-border-width); border-style: solid; }
[border*='white'] { border-color: var(--white); }
[border*='gray0'] { border-color: var(--gray-0); }
[border*='gray1'] { border-color: var(--gray-1); }
[border*='gray2'] { border-color: var(--gray-2); }
[border*='gray3'] { border-color: var(--gray-3); }
[border*='gray4'] { border-color: var(--gray-4); }
[border*='gray5'] { border-color: var(--gray-5); }
[border*='gray6'] { border-color: var(--gray-6); }
[border*='gray7'] { border-color: var(--gray-7); }
[border*='gray8'] { border-color: var(--gray-8); }
[border*='gray9'] { border-color: var(--gray-9); }
[border*='black'] { border-color: var(--black); }
[border*='red'] { border-color: var(--red); }
[border*='pink'] { border-color: var(--pink); }
[border*='grape'] { border-color: var(--grape); }
[border*='violet'] { border-color: var(--violet); }
[border*='indigo'] { border-color: var(--indigo); }
[border*='blue'] { border-color: var(--blue); }
[border*='cyan'] { border-color: var(--cyan); }
[border*='teal'] { border-color: var(--teal); }
[border*='green'] { border-color: var(--green); }
[border*='lime'] { border-color: var(--lime); }
[border*='yellow'] { border-color: var(--yellow); }
[border*='orange'] { border-color: var(--orange); }

[shadow*='0'] { box-shadow: none; }
[shadow*='1'] { box-shadow: 0 0.625rem 0.625rem var(--component-shadow); }
[shadow*='2'] { box-shadow: 0 0.125rem 0.125rem var(--component-shadow); }
[shadow*='3'] { box-shadow: 0 0.25rem 0.25rem var(--component-shadow); }
[shadow*='4'] { box-shadow: 0 0.5rem 0.5rem var(--component-shadow); }