[data-flex] { display: flex; }

[data-flex*="wrap"] { flex-wrap: wrap; }
[data-flex*="wrapReverse"] { flex-wrap: wrap-reverse; }

[data-flex*="column"] { flex-direction: column; }
[data-flex*="row"] { flex-direction: row; }

[data-flex] > [data-grow] { flex-basis: 0; }
[data-flex] > [data-grow="1"] { flex-grow: 1; }
[data-flex] > [data-grow="2"] { flex-grow: 2; }
[data-flex] > [data-grow="3"] { flex-grow: 3; }
[data-flex] > [data-grow="4"] { flex-grow: 4; }
[data-flex] > [data-grow="5"] { flex-grow: 5; }
[data-flex] > [data-grow="6"] { flex-grow: 6; }