ul[data-grid], [data-grid] {
  list-style: none;
  display: grid;
  grid-template-columns: var(--columns, repeat(12, 1fr));
  grid-auto-flow: var(--flow, row);
  grid-template-rows: var(--rows, auto);
}

[data-grid][data-columns='1'] { --columns: repeat(1, 1fr); }
[data-grid][data-columns='2'] { --columns: repeat(2, 1fr); }
[data-grid][data-columns='3'] { --columns: repeat(3, 1fr); }
[data-grid][data-columns='4'] { --columns: repeat(4, 1fr); }
[data-grid][data-columns='5'] { --columns: repeat(5, 1fr); }
[data-grid][data-columns='6'] { --columns: repeat(6, 1fr); }
[data-grid][data-columns='7'] { --columns: repeat(7, 1fr); }
[data-grid][data-columns='8'] { --columns: repeat(8, 1fr); }
[data-grid][data-columns='9'] { --columns: repeat(9, 1fr); }
[data-grid][data-columns='10'] { --columns: repeat(10, 1fr); }
[data-grid][data-columns='11'] { --columns: repeat(11, 1fr); }
[data-grid][data-columns='12'] { --columns: repeat(12, 1fr); }
[data-grid][data-columns='13'] { --columns: repeat(13, 1fr); }
[data-grid][data-columns='14'] { --columns: repeat(14, 1fr); }
[data-grid][data-columns='15'] { --columns: repeat(15, 1fr); }
[data-grid][data-columns='16'] { --columns: repeat(16, 1fr); }
[data-grid][data-columns='17'] { --columns: repeat(17, 1fr); }
[data-grid][data-columns='18'] { --columns: repeat(18, 1fr); }
[data-grid][data-columns='19'] { --columns: repeat(19, 1fr); }
[data-grid][data-columns='20'] { --columns: repeat(20, 1fr); }
[data-grid][data-columns='21'] { --columns: repeat(21, 1fr); }
[data-grid][data-columns='22'] { --columns: repeat(22, 1fr); }
[data-grid][data-columns='23'] { --columns: repeat(23, 1fr); }
[data-grid][data-columns='24'] { --columns: repeat(24, 1fr); }

[data-grid][data-flow="row"] { --flow: row; }
[data-grid][data-flow="column"] { --flow: column; }

[data-grid][data-rows="1"] { --rows: repeat(1, 1fr); }
[data-grid][data-rows="2"] { --rows: repeat(2, 1fr); }
[data-grid][data-rows="3"] { --rows: repeat(3, 1fr); }
[data-grid][data-rows="4"] { --rows: repeat(4, 1fr); }
[data-grid][data-rows="5"] { --rows: repeat(5, 1fr); }
[data-grid][data-rows="6"] { --rows: repeat(6, 1fr); }
[data-grid][data-rows="7"] { --rows: repeat(7, 1fr); }
[data-grid][data-rows="8"] { --rows: repeat(8, 1fr); }
[data-grid][data-rows="9"] { --rows: repeat(9, 1fr); }
[data-grid][data-rows="10"] { --rows: repeat(10, 1fr); }
[data-grid][data-rows="11"] { --rows: repeat(11, 1fr); }
[data-grid][data-rows="12"] { --rows: repeat(12, 1fr); }

[data-grid] > [data-cell][data-span^='1'] { --span: 1; }
[data-grid] > [data-cell][data-span^='2'] { --span: 2; }
[data-grid] > [data-cell][data-span^='3'] { --span: 3; }
[data-grid] > [data-cell][data-span^='4'] { --span: 4; }
[data-grid] > [data-cell][data-span^='5'] { --span: 5; }
[data-grid] > [data-cell][data-span^='6'] { --span: 6; }
[data-grid] > [data-cell][data-span^='7'] { --span: 7; }
[data-grid] > [data-cell][data-span^='8'] { --span: 8; }
[data-grid] > [data-cell][data-span^='9'] { --span: 9; }
[data-grid] > [data-cell][data-span^='10'] { --span: 10; }
[data-grid] > [data-cell][data-span^='11'] { --span: 11; }
[data-grid] > [data-cell][data-span^='12'] { --span: 12; }
[data-grid] > [data-cell][data-span^='13'] { --span: 13; }
[data-grid] > [data-cell][data-span^='14'] { --span: 14; }
[data-grid] > [data-cell][data-span^='15'] { --span: 15; }
[data-grid] > [data-cell][data-span^='16'] { --span: 16; }
[data-grid] > [data-cell][data-span^='17'] { --span: 17; }
[data-grid] > [data-cell][data-span^='18'] { --span: 18; }
[data-grid] > [data-cell][data-span^='19'] { --span: 19; }
[data-grid] > [data-cell][data-span^='20'] { --span: 20; }
[data-grid] > [data-cell][data-span^='21'] { --span: 21; }
[data-grid] > [data-cell][data-span^='22'] { --span: 22; }
[data-grid] > [data-cell][data-span^='23'] { --span: 23; }
[data-grid] > [data-cell][data-span^='24'] { --span: 24; }

li[data-cell], [data-cell] {
  display: block;
  grid-column-end: span var(--span);
}

[data-cell] [data-cell] {
  --span: initial;
}

[data-grid][data-gap='0'] { gap: 0; }
[data-grid][data-gap='1'] { gap: var(--space-1); }
[data-grid][data-gap='2'] { gap: var(--space-2); }
[data-grid][data-gap='3'] { gap: var(--space-3); }
[data-grid][data-gap='4'] { gap: var(--space-4); }
[data-grid][data-gap='5'] { gap: var(--space-5); }
[data-grid][data-gap='6'] { gap: var(--space-6); }
[data-grid][data-gap='7'] { gap: var(--space-7); }
[data-grid][data-gap='8'] { gap: var(--space-8); }
[data-grid][data-gap='9'] { gap: var(--space-9); }
[data-grid][data-gap='10'] { gap: var(--space-10); }
[data-grid][data-gap='11'] { gap: var(--space-11); }
[data-grid][data-gap='12'] { gap: var(--space-12); }


[data-grid][data-rowGap='0'] { row-gap: 0; }
[data-grid][data-rowGap='1'] { row-gap: var(--space-1); }
[data-grid][data-rowGap='2'] { row-gap: var(--space-2); }
[data-grid][data-rowGap='3'] { row-gap: var(--space-3); }
[data-grid][data-rowGap='4'] { row-gap: var(--space-4); }
[data-grid][data-rowGap='5'] { row-gap: var(--space-5); }
[data-grid][data-rowGap='6'] { row-gap: var(--space-6); }
[data-grid][data-rowGap='7'] { row-gap: var(--space-7); }
[data-grid][data-rowGap='8'] { row-gap: var(--space-8); }
[data-grid][data-rowGap='9'] { row-gap: var(--space-9); }
[data-grid][data-rowGap='10'] { row-gap: var(--space-10); }
[data-grid][data-rowGap='11'] { row-gap: var(--space-11); }
[data-grid][data-rowGap='12'] { row-gap: var(--space-12); }

[data-grid][data-columnGap='0'] { column-gap: 0; }
[data-grid][data-columnGap='1'] { column-gap: var(--space-1); }
[data-grid][data-columnGap='2'] { column-gap: var(--space-2); }
[data-grid][data-columnGap='3'] { column-gap: var(--space-3); }
[data-grid][data-columnGap='4'] { column-gap: var(--space-4); }
[data-grid][data-columnGap='5'] { column-gap: var(--space-5); }
[data-grid][data-columnGap='6'] { column-gap: var(--space-6); }
[data-grid][data-columnGap='7'] { column-gap: var(--space-7); }
[data-grid][data-columnGap='8'] { column-gap: var(--space-8); }
[data-grid][data-columnGap='9'] { column-gap: var(--space-9); }
[data-grid][data-columnGap='10'] { column-gap: var(--space-10); }
[data-grid][data-columnGap='11'] { column-gap: var(--space-11); }
[data-grid][data-columnGap='12'] { column-gap: var(--space-12); }

@media only screen and (max-width: 48rem) {
  [data-grid] { --columns: repeat(1, 1fr) !important; --flow: row !important; }
  [data-cell] {--span: 1 !important; }

}