[data-show], 
[data-showtablet] {
  display: none;
}

@media screen and (max-width: 48rem) {

  [data-hide] { display: none !important; }
  [data-show] { display: block !important; }
  * { overflow-wrap: break-word; }
  
}

@media screen and (min-width: 48rem) and (max-width: 60rem) {

  [data-hidetablet] { display: none !important; }
  [data-showtablet] { display: block !important; }
  * { overflow-wrap: break-word; }

}
