.show, 
.showTablet {
  display: none;
}

@media screen and (max-width: 48rem) {

  .hide { display: none !important; }
  .show { display: block !important; }

}

@media screen and (min-width: 48rem) and (max-width: 60rem) {

  .hideTablet { display: none !important; }
  .showTablet { display: block !important; }

}
