[data-m^='0'] { margin: 0; }
[data-m^='1'] { margin: var(--space-1); }
[data-m^='2'] { margin: var(--space-2); }
[data-m^='3'] { margin: var(--space-3); }
[data-m^='4'] { margin: var(--space-4); }
[data-m^='5'] { margin: var(--space-5); }
[data-m^='6'] { margin: var(--space-6); }
[data-m^='7'] { margin: var(--space-7); }
[data-m^='8'] { margin: var(--space-8); }
[data-m^='9'] { margin: var(--space-9); }
[data-m^='10'] { margin: var(--space-10); }
[data-m^='11'] { margin: var(--space-11); }
[data-m^='12'] { margin: var(--space-12); }

[data-mt^='0'] { margin-top: 0; }
[data-mt^='1'] { margin-top: var(--space-1); }
[data-mt^='2'] { margin-top: var(--space-2); }
[data-mt^='3'] { margin-top: var(--space-3); }
[data-mt^='4'] { margin-top: var(--space-4); }
[data-mt^='5'] { margin-top: var(--space-5); }
[data-mt^='6'] { margin-top: var(--space-6); }
[data-mt^='7'] { margin-top: var(--space-7); }
[data-mt^='8'] { margin-top: var(--space-8); }
[data-mt^='9'] { margin-top: var(--space-9); }
[data-mt^='10'] { margin-top: var(--space-10); }
[data-mt^='11'] { margin-top: var(--space-11); }
[data-mt^='12'] { margin-top: var(--space-12); }

[data-ml^='0'] { margin-left: 0; }
[data-ml^='1'] { margin-left: var(--space-1); }
[data-ml^='2'] { margin-left: var(--space-2); }
[data-ml^='3'] { margin-left: var(--space-3); }
[data-ml^='4'] { margin-left: var(--space-4); }
[data-ml^='5'] { margin-left: var(--space-5); }
[data-ml^='6'] { margin-left: var(--space-6); }
[data-ml^='7'] { margin-left: var(--space-7); }
[data-ml^='8'] { margin-left: var(--space-8); }
[data-ml^='9'] { margin-left: var(--space-9); }
[data-ml^='10'] { margin-left: var(--space-10); }
[data-ml^='11'] { margin-left: var(--space-11); }
[data-ml^='12'] { margin-left: var(--space-12); }

[data-mb^='0'] { margin-bottom: 0; }
[data-mb^='1'] { margin-bottom: var(--space-1); }
[data-mb^='2'] { margin-bottom: var(--space-2); }
[data-mb^='3'] { margin-bottom: var(--space-3); }
[data-mb^='4'] { margin-bottom: var(--space-4); }
[data-mb^='5'] { margin-bottom: var(--space-5); }
[data-mb^='6'] { margin-bottom: var(--space-6); }
[data-mb^='7'] { margin-bottom: var(--space-7); }
[data-mb^='8'] { margin-bottom: var(--space-8); }
[data-mb^='9'] { margin-bottom: var(--space-9); }
[data-mb^='10'] { margin-bottom: var(--space-10); }
[data-mb^='11'] { margin-bottom: var(--space-11); }
[data-mb^='12'] { margin-bottom: var(--space-12); }

[data-mr^='0'] { margin-right: 0; }
[data-mr^='1'] { margin-right: var(--space-1); }
[data-mr^='2'] { margin-right: var(--space-2); }
[data-mr^='3'] { margin-right: var(--space-3); }
[data-mr^='4'] { margin-right: var(--space-4); }
[data-mr^='5'] { margin-right: var(--space-5); }
[data-mr^='6'] { margin-right: var(--space-6); }
[data-mr^='7'] { margin-right: var(--space-7); }
[data-mr^='8'] { margin-right: var(--space-8); }
[data-mr^='9'] { margin-right: var(--space-9); }
[data-mr^='10'] { margin-right: var(--space-10); }
[data-mr^='11'] { margin-right: var(--space-11); }
[data-mr^='12'] { margin-right: var(--space-12); }

[data-mx^='auto'] {margin-left: auto; margin-right: auto; }
[data-mx^='0'] { margin-left: 0; margin-right: 0; }
[data-mx^='1'] { margin-left: var(--space-1); margin-right: var(--space-1); }
[data-mx^='2'] { margin-left: var(--space-2); margin-right: var(--space-2); }
[data-mx^='3'] { margin-left: var(--space-3); margin-right: var(--space-3); }
[data-mx^='4'] { margin-left: var(--space-4); margin-right: var(--space-4); }
[data-mx^='5'] { margin-left: var(--space-5); margin-right: var(--space-5); }
[data-mx^='6'] { margin-left: var(--space-6); margin-right: var(--space-6); }
[data-mx^='7'] { margin-left: var(--space-7); margin-right: var(--space-7); }
[data-mx^='8'] { margin-left: var(--space-8); margin-right: var(--space-8); }
[data-mx^='9'] { margin-left: var(--space-9); margin-right: var(--space-9); }
[data-mx^='10'] { margin-left: var(--space-10); margin-right: var(--space-10); }
[data-mx^='11'] { margin-left: var(--space-11); margin-right: var(--space-11); }
[data-mx^='12'] { margin-left: var(--space-12); margin-right: var(--space-12); }

[data-my^='0'] { margin-bottom: 0; margin-top: 0; }
[data-my^='1'] { margin-bottom: var(--space-1); margin-top: var(--space-1); }
[data-my^='2'] { margin-bottom: var(--space-2); margin-top: var(--space-2); }
[data-my^='3'] { margin-bottom: var(--space-3); margin-top: var(--space-3); }
[data-my^='4'] { margin-bottom: var(--space-4); margin-top: var(--space-4); }
[data-my^='5'] { margin-bottom: var(--space-5); margin-top: var(--space-5); }
[data-my^='6'] { margin-bottom: var(--space-6); margin-top: var(--space-6); }
[data-my^='7'] { margin-bottom: var(--space-7); margin-top: var(--space-7); }
[data-my^='8'] { margin-bottom: var(--space-8); margin-top: var(--space-8); }
[data-my^='9'] { margin-bottom: var(--space-9); margin-top: var(--space-9); }
[data-my^='10'] { margin-bottom: var(--space-10); margin-top: var(--space-10); }
[data-my^='11'] { margin-bottom: var(--space-11); margin-top: var(--space-11); }
[data-my^='12'] { margin-bottom: var(--space-12); margin-top: var(--space-12); }

[data-p^='0'] { padding: 0; }
[data-p^='1'] { padding: var(--space-1); }
[data-p^='2'] { padding: var(--space-2); }
[data-p^='3'] { padding: var(--space-3); }
[data-p^='4'] { padding: var(--space-4); }
[data-p^='5'] { padding: var(--space-5); }
[data-p^='6'] { padding: var(--space-6); }
[data-p^='7'] { padding: var(--space-7); }
[data-p^='8'] { padding: var(--space-8); }
[data-p^='9'] { padding: var(--space-9); }
[data-p^='10'] { padding: var(--space-10); }
[data-p^='11'] { padding: var(--space-11); }
[data-p^='12'] { padding: var(--space-12); }

[data-pt^='0'] { padding-top: 0; }
[data-pt^='1'] { padding-top: var(--space-1); }
[data-pt^='2'] { padding-top: var(--space-2); }
[data-pt^='3'] { padding-top: var(--space-3); }
[data-pt^='4'] { padding-top: var(--space-4); }
[data-pt^='5'] { padding-top: var(--space-5); }
[data-pt^='6'] { padding-top: var(--space-6); }
[data-pt^='7'] { padding-top: var(--space-7); }
[data-pt^='8'] { padding-top: var(--space-8); }
[data-pt^='9'] { padding-top: var(--space-9); }
[data-pt^='10'] { padding-top: var(--space-10); }
[data-pt^='11'] { padding-top: var(--space-11); }
[data-pt^='12'] { padding-top: var(--space-12); }

[data-pl^='0'] { padding-left: 0; }
[data-pl^='1'] { padding-left: var(--space-1); }
[data-pl^='2'] { padding-left: var(--space-2); }
[data-pl^='3'] { padding-left: var(--space-3); }
[data-pl^='4'] { padding-left: var(--space-4); }
[data-pl^='5'] { padding-left: var(--space-5); }
[data-pl^='6'] { padding-left: var(--space-6); }
[data-pl^='7'] { padding-left: var(--space-7); }
[data-pl^='8'] { padding-left: var(--space-8); }
[data-pl^='9'] { padding-left: var(--space-9); }
[data-pl^='10'] { padding-left: var(--space-10); }
[data-pl^='11'] { padding-left: var(--space-11); }
[data-pl^='12'] { padding-left: var(--space-12); }

[data-pb^='0'] { padding-bottom: 0; }
[data-pb^='1'] { padding-bottom: var(--space-1); }
[data-pb^='2'] { padding-bottom: var(--space-2); }
[data-pb^='3'] { padding-bottom: var(--space-3); }
[data-pb^='4'] { padding-bottom: var(--space-4); }
[data-pb^='5'] { padding-bottom: var(--space-5); }
[data-pb^='6'] { padding-bottom: var(--space-6); }
[data-pb^='7'] { padding-bottom: var(--space-7); }
[data-pb^='8'] { padding-bottom: var(--space-8); }
[data-pb^='9'] { padding-bottom: var(--space-9); }
[data-pb^='10'] { padding-bottom: var(--space-10); }
[data-pb^='11'] { padding-bottom: var(--space-11); }
[data-pb^='12'] { padding-bottom: var(--space-12); }

[data-pr^='0'] { padding-right: 0; }
[data-pr^='1'] { padding-right: var(--space-1); }
[data-pr^='2'] { padding-right: var(--space-2); }
[data-pr^='3'] { padding-right: var(--space-3); }
[data-pr^='4'] { padding-right: var(--space-4); }
[data-pr^='5'] { padding-right: var(--space-5); }
[data-pr^='6'] { padding-right: var(--space-6); }
[data-pr^='7'] { padding-right: var(--space-7); }
[data-pr^='8'] { padding-right: var(--space-8); }
[data-pr^='9'] { padding-right: var(--space-9); }
[data-pr^='10'] { padding-right: var(--space-10); }
[data-pr^='11'] { padding-right: var(--space-11); }
[data-pr^='12'] { padding-right: var(--space-12); }

[data-px^='0'] { padding-left: 0; padding-right: 0; }
[data-px^='1'] { padding-left: var(--space-1); padding-right: var(--space-1); }
[data-px^='2'] { padding-left: var(--space-2); padding-right: var(--space-2); }
[data-px^='3'] { padding-left: var(--space-3); padding-right: var(--space-3); }
[data-px^='4'] { padding-left: var(--space-4); padding-right: var(--space-4); }
[data-px^='5'] { padding-left: var(--space-5); padding-right: var(--space-5); }
[data-px^='6'] { padding-left: var(--space-6); padding-right: var(--space-6); }
[data-px^='7'] { padding-left: var(--space-7); padding-right: var(--space-7); }
[data-px^='8'] { padding-left: var(--space-8); padding-right: var(--space-8); }
[data-px^='9'] { padding-left: var(--space-9); padding-right: var(--space-9); }
[data-px^='10'] { padding-left: var(--space-10); padding-right: var(--space-10); }
[data-px^='11'] { padding-left: var(--space-11); padding-right: var(--space-11); }
[data-px^='12'] { padding-left: var(--space-12); padding-right: var(--space-12); }

[data-py^='0'] { padding-bottom: 0; padding-top: 0; }
[data-py^='1'] { padding-bottom: var(--space-1); padding-top: var(--space-1); }
[data-py^='2'] { padding-bottom: var(--space-2); padding-top: var(--space-2); }
[data-py^='3'] { padding-bottom: var(--space-3); padding-top: var(--space-3); }
[data-py^='4'] { padding-bottom: var(--space-4); padding-top: var(--space-4); }
[data-py^='5'] { padding-bottom: var(--space-5); padding-top: var(--space-5); }
[data-py^='6'] { padding-bottom: var(--space-6); padding-top: var(--space-6); }
[data-py^='7'] { padding-bottom: var(--space-7); padding-top: var(--space-7); }
[data-py^='8'] { padding-bottom: var(--space-8); padding-top: var(--space-8); }
[data-py^='9'] { padding-bottom: var(--space-9); padding-top: var(--space-9); }
[data-py^='10'] { padding-bottom: var(--space-10); padding-top: var(--space-10); }
[data-py^='11'] { padding-bottom: var(--space-11); padding-top: var(--space-11); }
[data-py^='12'] { padding-bottom: var(--space-12); padding-top: var(--space-12); }

@media only screen and (max-width: 48rem) {

  [data-m$='sm0'] { margin: 0; }
  [data-m$='sm1'] { margin: var(--space-1); }
  [data-m$='sm2'] { margin: var(--space-2); }
  [data-m$='sm3'] { margin: var(--space-3); }
  [data-m$='sm4'] { margin: var(--space-4); }
  [data-m$='sm5'] { margin: var(--space-5); }
  [data-m$='sm6'] { margin: var(--space-6); }
  [data-m$='sm7'] { margin: var(--space-7); }
  [data-m$='sm8'] { margin: var(--space-8); }
  [data-m$='sm9'] { margin: var(--space-9); }
  
  [data-mt$='sm0'] { margin-top: 0; }
  [data-mt$='sm1'] { margin-top: var(--space-1); }
  [data-mt$='sm2'] { margin-top: var(--space-2); }
  [data-mt$='sm3'] { margin-top: var(--space-3); }
  [data-mt$='sm4'] { margin-top: var(--space-4); }
  [data-mt$='sm5'] { margin-top: var(--space-5); }
  [data-mt$='sm6'] { margin-top: var(--space-6); }
  [data-mt$='sm7'] { margin-top: var(--space-7); }
  [data-mt$='sm8'] { margin-top: var(--space-8); }
  [data-mt$='sm9'] { margin-top: var(--space-9); }
  
  [data-ml$='sm0'] { margin-left: 0; }
  [data-ml$='sm1'] { margin-left: var(--space-1); }
  [data-ml$='sm2'] { margin-left: var(--space-2); }
  [data-ml$='sm3'] { margin-left: var(--space-3); }
  [data-ml$='sm4'] { margin-left: var(--space-4); }
  [data-ml$='sm5'] { margin-left: var(--space-5); }
  [data-ml$='sm6'] { margin-left: var(--space-6); }
  [data-ml$='sm7'] { margin-left: var(--space-7); }
  [data-ml$='sm8'] { margin-left: var(--space-8); }
  [data-ml$='sm9'] { margin-left: var(--space-9); }
  
  [data-mb$='sm0'] { margin-bottom: 0; }
  [data-mb$='sm1'] { margin-bottom: var(--space-1); }
  [data-mb$='sm2'] { margin-bottom: var(--space-2); }
  [data-mb$='sm3'] { margin-bottom: var(--space-3); }
  [data-mb$='sm4'] { margin-bottom: var(--space-4); }
  [data-mb$='sm5'] { margin-bottom: var(--space-5); }
  [data-mb$='sm6'] { margin-bottom: var(--space-6); }
  [data-mb$='sm7'] { margin-bottom: var(--space-7); }
  [data-mb$='sm8'] { margin-bottom: var(--space-8); }
  [data-mb$='sm9'] { margin-bottom: var(--space-9); }
  
  [data-mr$='sm0'] { margin-right: 0; }
  [data-mr$='sm1'] { margin-right: var(--space-1); }
  [data-mr$='sm2'] { margin-right: var(--space-2); }
  [data-mr$='sm3'] { margin-right: var(--space-3); }
  [data-mr$='sm4'] { margin-right: var(--space-4); }
  [data-mr$='sm5'] { margin-right: var(--space-5); }
  [data-mr$='sm6'] { margin-right: var(--space-6); }
  [data-mr$='sm7'] { margin-right: var(--space-7); }
  [data-mr$='sm8'] { margin-right: var(--space-8); }
  [data-mr$='sm9'] { margin-right: var(--space-9); }
  
  [data-mx$='smauto'] {margin-left: auto; margin-right: auto; }
  [data-mx$='sm0'] { margin-left: 0; margin-right: 0; }
  [data-mx$='sm1'] { margin-left: var(--space-1); margin-right: var(--space-1); }
  [data-mx$='sm2'] { margin-left: var(--space-2); margin-right: var(--space-2); }
  [data-mx$='sm3'] { margin-left: var(--space-3); margin-right: var(--space-3); }
  [data-mx$='sm4'] { margin-left: var(--space-4); margin-right: var(--space-4); }
  [data-mx$='sm5'] { margin-left: var(--space-5); margin-right: var(--space-5); }
  [data-mx$='sm6'] { margin-left: var(--space-6); margin-right: var(--space-6); }
  [data-mx$='sm7'] { margin-left: var(--space-7); margin-right: var(--space-7); }
  [data-mx$='sm8'] { margin-left: var(--space-8); margin-right: var(--space-8); }
  [data-mx$='sm9'] { margin-left: var(--space-9); margin-right: var(--space-9); }
  
  [data-my$='sm0'] { margin-bottom: 0; margin-top: 0; }
  [data-my$='sm1'] { margin-bottom: var(--space-1); margin-top: var(--space-1); }
  [data-my$='sm2'] { margin-bottom: var(--space-2); margin-top: var(--space-2); }
  [data-my$='sm3'] { margin-bottom: var(--space-3); margin-top: var(--space-3); }
  [data-my$='sm4'] { margin-bottom: var(--space-4); margin-top: var(--space-4); }
  [data-my$='sm5'] { margin-bottom: var(--space-5); margin-top: var(--space-5); }
  [data-my$='sm6'] { margin-bottom: var(--space-6); margin-top: var(--space-6); }
  [data-my$='sm7'] { margin-bottom: var(--space-7); margin-top: var(--space-7); }
  [data-my$='sm8'] { margin-bottom: var(--space-8); margin-top: var(--space-8); }
  [data-my$='sm9'] { margin-bottom: var(--space-9); margin-top: var(--space-9); }
  
  [data-p$='sm0'] { padding: 0; }
  [data-p$='sm1'] { padding: var(--space-1); }
  [data-p$='sm2'] { padding: var(--space-2); }
  [data-p$='sm3'] { padding: var(--space-3); }
  [data-p$='sm4'] { padding: var(--space-4); }
  [data-p$='sm5'] { padding: var(--space-5); }
  [data-p$='sm6'] { padding: var(--space-6); }
  [data-p$='sm7'] { padding: var(--space-7); }
  [data-p$='sm8'] { padding: var(--space-8); }
  [data-p$='sm9'] { padding: var(--space-9); }  
  
  [data-pt$='sm0'] { padding-top: 0; }
  [data-pt$='sm1'] { padding-top: var(--space-1); }
  [data-pt$='sm2'] { padding-top: var(--space-2); }
  [data-pt$='sm3'] { padding-top: var(--space-3); }
  [data-pt$='sm4'] { padding-top: var(--space-4); }
  [data-pt$='sm5'] { padding-top: var(--space-5); }
  [data-pt$='sm6'] { padding-top: var(--space-6); }
  [data-pt$='sm7'] { padding-top: var(--space-7); }
  [data-pt$='sm8'] { padding-top: var(--space-8); }
  [data-pt$='sm9'] { padding-top: var(--space-9); }
  
  [data-pl$='sm0'] { padding-left: 0; }
  [data-pl$='sm1'] { padding-left: var(--space-1); }
  [data-pl$='sm2'] { padding-left: var(--space-2); }
  [data-pl$='sm3'] { padding-left: var(--space-3); }
  [data-pl$='sm4'] { padding-left: var(--space-4); }
  [data-pl$='sm5'] { padding-left: var(--space-5); }
  [data-pl$='sm6'] { padding-left: var(--space-6); }
  [data-pl$='sm7'] { padding-left: var(--space-7); }
  [data-pl$='sm8'] { padding-left: var(--space-8); }
  [data-pl$='sm9'] { padding-left: var(--space-9); }
  
  [data-pb$='sm0'] { padding-bottom: 0; }
  [data-pb$='sm1'] { padding-bottom: var(--space-1); }
  [data-pb$='sm2'] { padding-bottom: var(--space-2); }
  [data-pb$='sm3'] { padding-bottom: var(--space-3); }
  [data-pb$='sm4'] { padding-bottom: var(--space-4); }
  [data-pb$='sm5'] { padding-bottom: var(--space-5); }
  [data-pb$='sm6'] { padding-bottom: var(--space-6); }
  [data-pb$='sm7'] { padding-bottom: var(--space-7); }
  [data-pb$='sm8'] { padding-bottom: var(--space-8); }
  [data-pb$='sm9'] { padding-bottom: var(--space-9); }
  
  [data-pr$='sm0'] { padding-right: 0; }
  [data-pr$='sm1'] { padding-right: var(--space-1); }
  [data-pr$='sm2'] { padding-right: var(--space-2); }
  [data-pr$='sm3'] { padding-right: var(--space-3); }
  [data-pr$='sm4'] { padding-right: var(--space-4); }
  [data-pr$='sm5'] { padding-right: var(--space-5); }
  [data-pr$='sm6'] { padding-right: var(--space-6); }
  [data-pr$='sm7'] { padding-right: var(--space-7); }
  [data-pr$='sm8'] { padding-right: var(--space-8); }
  [data-pr$='sm9'] { padding-right: var(--space-9); }
  
  [data-px$='sm0'] { padding-left: 0; padding-right: 0; }
  [data-px$='sm1'] { padding-left: var(--space-1); padding-right: var(--space-1); }
  [data-px$='sm2'] { padding-left: var(--space-2); padding-right: var(--space-2); }
  [data-px$='sm3'] { padding-left: var(--space-3); padding-right: var(--space-3); }
  [data-px$='sm4'] { padding-left: var(--space-4); padding-right: var(--space-4); }
  [data-px$='sm5'] { padding-left: var(--space-5); padding-right: var(--space-5); }
  [data-px$='sm6'] { padding-left: var(--space-6); padding-right: var(--space-6); }
  [data-px$='sm7'] { padding-left: var(--space-7); padding-right: var(--space-7); }
  [data-px$='sm8'] { padding-left: var(--space-8); padding-right: var(--space-8); }
  [data-px$='sm9'] { padding-left: var(--space-9); padding-right: var(--space-9); }
  
  [data-py$='sm0'] { padding-bottom: 0; padding-top: 0; }
  [data-py$='sm1'] { padding-bottom: var(--space-1); padding-top: var(--space-1); }
  [data-py$='sm2'] { padding-bottom: var(--space-2); padding-top: var(--space-2); }
  [data-py$='sm3'] { padding-bottom: var(--space-3); padding-top: var(--space-3); }
  [data-py$='sm4'] { padding-bottom: var(--space-4); padding-top: var(--space-4); }
  [data-py$='sm5'] { padding-bottom: var(--space-5); padding-top: var(--space-5); }
  [data-py$='sm6'] { padding-bottom: var(--space-6); padding-top: var(--space-6); }
  [data-py$='sm7'] { padding-bottom: var(--space-7); padding-top: var(--space-7); }
  [data-py$='sm8'] { padding-bottom: var(--space-8); padding-top: var(--space-8); }
  [data-py$='sm9'] { padding-bottom: var(--space-9); padding-top: var(--space-9); }
  
}