[m^='0'] { margin: 0; }
[m^='1'] { margin: var(--space-1); }
[m^='2'] { margin: var(--space-2); }
[m^='3'] { margin: var(--space-3); }
[m^='4'] { margin: var(--space-4); }
[m^='5'] { margin: var(--space-5); }
[m^='6'] { margin: var(--space-6); }
[m^='7'] { margin: var(--space-7); }
[m^='8'] { margin: var(--space-8); }
[m^='9'] { margin: var(--space-9); }
[m^='10'] { margin: var(--space-10); }
[m^='11'] { margin: var(--space-11); }
[m^='12'] { margin: var(--space-12); }


[mt^='0'] { margin-top: 0; }
[mt^='1'] { margin-top: var(--space-1); }
[mt^='2'] { margin-top: var(--space-2); }
[mt^='3'] { margin-top: var(--space-3); }
[mt^='4'] { margin-top: var(--space-4); }
[mt^='5'] { margin-top: var(--space-5); }
[mt^='6'] { margin-top: var(--space-6); }
[mt^='7'] { margin-top: var(--space-7); }
[mt^='8'] { margin-top: var(--space-8); }
[mt^='9'] { margin-top: var(--space-9); }

[ml^='0'] { margin-left: 0; }
[ml^='1'] { margin-left: var(--space-1); }
[ml^='2'] { margin-left: var(--space-2); }
[ml^='3'] { margin-left: var(--space-3); }
[ml^='4'] { margin-left: var(--space-4); }
[ml^='5'] { margin-left: var(--space-5); }
[ml^='6'] { margin-left: var(--space-6); }
[ml^='7'] { margin-left: var(--space-7); }
[ml^='8'] { margin-left: var(--space-8); }
[ml^='9'] { margin-left: var(--space-9); }
[ml^='10'] { margin-left: var(--space-10); }
[ml^='11'] { margin-left: var(--space-11); }
[ml^='12'] { margin-left: var(--space-12); }

[mb^='0'] { margin-bottom: 0; }
[mb^='1'] { margin-bottom: var(--space-1); }
[mb^='2'] { margin-bottom: var(--space-2); }
[mb^='3'] { margin-bottom: var(--space-3); }
[mb^='4'] { margin-bottom: var(--space-4); }
[mb^='5'] { margin-bottom: var(--space-5); }
[mb^='6'] { margin-bottom: var(--space-6); }
[mb^='7'] { margin-bottom: var(--space-7); }
[mb^='8'] { margin-bottom: var(--space-8); }
[mb^='9'] { margin-bottom: var(--space-9); }

[mr^='0'] { margin-right: 0; }
[mr^='1'] { margin-right: var(--space-1); }
[mr^='2'] { margin-right: var(--space-2); }
[mr^='3'] { margin-right: var(--space-3); }
[mr^='4'] { margin-right: var(--space-4); }
[mr^='5'] { margin-right: var(--space-5); }
[mr^='6'] { margin-right: var(--space-6); }
[mr^='7'] { margin-right: var(--space-7); }
[mr^='8'] { margin-right: var(--space-8); }
[mr^='9'] { margin-right: var(--space-9); }

[mx^='auto'] {margin-left: auto; margin-right: auto; }
[mx^='0'] { margin-left: 0; margin-right: 0; }
[mx^='1'] { margin-left: var(--space-1); margin-right: var(--space-1); }
[mx^='2'] { margin-left: var(--space-2); margin-right: var(--space-2); }
[mx^='3'] { margin-left: var(--space-3); margin-right: var(--space-3); }
[mx^='4'] { margin-left: var(--space-4); margin-right: var(--space-4); }
[mx^='5'] { margin-left: var(--space-5); margin-right: var(--space-5); }
[mx^='6'] { margin-left: var(--space-6); margin-right: var(--space-6); }
[mx^='7'] { margin-left: var(--space-7); margin-right: var(--space-7); }
[mx^='8'] { margin-left: var(--space-8); margin-right: var(--space-8); }
[mx^='9'] { margin-left: var(--space-9); margin-right: var(--space-9); }

[my^='0'] { margin-bottom: 0; margin-top: 0; }
[my^='1'] { margin-bottom: var(--space-1); margin-top: var(--space-1); }
[my^='2'] { margin-bottom: var(--space-2); margin-top: var(--space-2); }
[my^='3'] { margin-bottom: var(--space-3); margin-top: var(--space-3); }
[my^='4'] { margin-bottom: var(--space-4); margin-top: var(--space-4); }
[my^='5'] { margin-bottom: var(--space-5); margin-top: var(--space-5); }
[my^='6'] { margin-bottom: var(--space-6); margin-top: var(--space-6); }
[my^='7'] { margin-bottom: var(--space-7); margin-top: var(--space-7); }
[my^='8'] { margin-bottom: var(--space-8); margin-top: var(--space-8); }
[my^='9'] { margin-bottom: var(--space-9); margin-top: var(--space-9); }

[p^='0'] { padding: 0; }
[p^='1'] { padding: var(--space-1); }
[p^='2'] { padding: var(--space-2); }
[p^='3'] { padding: var(--space-3); }
[p^='4'] { padding: var(--space-4); }
[p^='5'] { padding: var(--space-5); }
[p^='6'] { padding: var(--space-6); }
[p^='7'] { padding: var(--space-7); }
[p^='8'] { padding: var(--space-8); }
[p^='9'] { padding: var(--space-9); }
[p^='10'] { padding: var(--space-10); }
[p^='11'] { padding: var(--space-11); }
[p^='12'] { padding: var(--space-12); }


[pt^='0'] { padding-top: 0; }
[pt^='1'] { padding-top: var(--space-1); }
[pt^='2'] { padding-top: var(--space-2); }
[pt^='3'] { padding-top: var(--space-3); }
[pt^='4'] { padding-top: var(--space-4); }
[pt^='5'] { padding-top: var(--space-5); }
[pt^='6'] { padding-top: var(--space-6); }
[pt^='7'] { padding-top: var(--space-7); }
[pt^='8'] { padding-top: var(--space-8); }
[pt^='9'] { padding-top: var(--space-9); }

[pl^='0'] { padding-left: 0; }
[pl^='1'] { padding-left: var(--space-1); }
[pl^='2'] { padding-left: var(--space-2); }
[pl^='3'] { padding-left: var(--space-3); }
[pl^='4'] { padding-left: var(--space-4); }
[pl^='5'] { padding-left: var(--space-5); }
[pl^='6'] { padding-left: var(--space-6); }
[pl^='7'] { padding-left: var(--space-7); }
[pl^='8'] { padding-left: var(--space-8); }
[pl^='9'] { padding-left: var(--space-9); }

[pb^='0'] { padding-bottom: 0; }
[pb^='1'] { padding-bottom: var(--space-1); }
[pb^='2'] { padding-bottom: var(--space-2); }
[pb^='3'] { padding-bottom: var(--space-3); }
[pb^='4'] { padding-bottom: var(--space-4); }
[pb^='5'] { padding-bottom: var(--space-5); }
[pb^='6'] { padding-bottom: var(--space-6); }
[pb^='7'] { padding-bottom: var(--space-7); }
[pb^='8'] { padding-bottom: var(--space-8); }
[pb^='9'] { padding-bottom: var(--space-9); }

[pr^='0'] { padding-right: 0; }
[pr^='1'] { padding-right: var(--space-1); }
[pr^='2'] { padding-right: var(--space-2); }
[pr^='3'] { padding-right: var(--space-3); }
[pr^='4'] { padding-right: var(--space-4); }
[pr^='5'] { padding-right: var(--space-5); }
[pr^='6'] { padding-right: var(--space-6); }
[pr^='7'] { padding-right: var(--space-7); }
[pr^='8'] { padding-right: var(--space-8); }
[pr^='9'] { padding-right: var(--space-9); }

[px^='0'] { padding-left: 0; padding-right: 0; }
[px^='1'] { padding-left: var(--space-1); padding-right: var(--space-1); }
[px^='2'] { padding-left: var(--space-2); padding-right: var(--space-2); }
[px^='3'] { padding-left: var(--space-3); padding-right: var(--space-3); }
[px^='4'] { padding-left: var(--space-4); padding-right: var(--space-4); }
[px^='5'] { padding-left: var(--space-5); padding-right: var(--space-5); }
[px^='6'] { padding-left: var(--space-6); padding-right: var(--space-6); }
[px^='7'] { padding-left: var(--space-7); padding-right: var(--space-7); }
[px^='8'] { padding-left: var(--space-8); padding-right: var(--space-8); }
[px^='9'] { padding-left: var(--space-9); padding-right: var(--space-9); }

[py^='0'] { padding-bottom: 0; padding-top: 0; }
[py^='1'] { padding-bottom: var(--space-1); padding-top: var(--space-1); }
[py^='2'] { padding-bottom: var(--space-2); padding-top: var(--space-2); }
[py^='3'] { padding-bottom: var(--space-3); padding-top: var(--space-3); }
[py^='4'] { padding-bottom: var(--space-4); padding-top: var(--space-4); }
[py^='5'] { padding-bottom: var(--space-5); padding-top: var(--space-5); }
[py^='6'] { padding-bottom: var(--space-6); padding-top: var(--space-6); }
[py^='7'] { padding-bottom: var(--space-7); padding-top: var(--space-7); }
[py^='8'] { padding-bottom: var(--space-8); padding-top: var(--space-8); }
[py^='9'] { padding-bottom: var(--space-9); padding-top: var(--space-9); }

@media only screen and (max-width: 48rem) {
  [m$='sm0'] { margin: 0; }
  [m$='sm1'] { margin: var(--space-1); }
  [m$='sm2'] { margin: var(--space-2); }
  [m$='sm3'] { margin: var(--space-3); }
  [m$='sm4'] { margin: var(--space-4); }
  [m$='sm5'] { margin: var(--space-5); }
  [m$='sm6'] { margin: var(--space-6); }
  [m$='sm7'] { margin: var(--space-7); }
  [m$='sm8'] { margin: var(--space-8); }
  [m$='sm9'] { margin: var(--space-9); }
  [m$='sm10'] { margin: var(--space-10); }
  [m$='sm11'] { margin: var(--space-11); }
  [m$='sm12'] { margin: var(--space-12); }
  
  
  [mt$='sm0'] { margin-top: 0; }
  [mt$='sm1'] { margin-top: var(--space-1); }
  [mt$='sm2'] { margin-top: var(--space-2); }
  [mt$='sm3'] { margin-top: var(--space-3); }
  [mt$='sm4'] { margin-top: var(--space-4); }
  [mt$='sm5'] { margin-top: var(--space-5); }
  [mt$='sm6'] { margin-top: var(--space-6); }
  [mt$='sm7'] { margin-top: var(--space-7); }
  [mt$='sm8'] { margin-top: var(--space-8); }
  [mt$='sm9'] { margin-top: var(--space-9); }
  
  [ml$='sm0'] { margin-left: 0; }
  [ml$='sm1'] { margin-left: var(--space-1); }
  [ml$='sm2'] { margin-left: var(--space-2); }
  [ml$='sm3'] { margin-left: var(--space-3); }
  [ml$='sm4'] { margin-left: var(--space-4); }
  [ml$='sm5'] { margin-left: var(--space-5); }
  [ml$='sm6'] { margin-left: var(--space-6); }
  [ml$='sm7'] { margin-left: var(--space-7); }
  [ml$='sm8'] { margin-left: var(--space-8); }
  [ml$='sm9'] { margin-left: var(--space-9); }
  [ml$='sm10'] { margin-left: var(--space-10); }
  [ml$='sm11'] { margin-left: var(--space-11); }
  [ml$='sm12'] { margin-left: var(--space-12); }
  
  [mb$='sm0'] { margin-bottom: 0; }
  [mb$='sm1'] { margin-bottom: var(--space-1); }
  [mb$='sm2'] { margin-bottom: var(--space-2); }
  [mb$='sm3'] { margin-bottom: var(--space-3); }
  [mb$='sm4'] { margin-bottom: var(--space-4); }
  [mb$='sm5'] { margin-bottom: var(--space-5); }
  [mb$='sm6'] { margin-bottom: var(--space-6); }
  [mb$='sm7'] { margin-bottom: var(--space-7); }
  [mb$='sm8'] { margin-bottom: var(--space-8); }
  [mb$='sm9'] { margin-bottom: var(--space-9); }
  
  [mr$='sm0'] { margin-right: 0; }
  [mr$='sm1'] { margin-right: var(--space-1); }
  [mr$='sm2'] { margin-right: var(--space-2); }
  [mr$='sm3'] { margin-right: var(--space-3); }
  [mr$='sm4'] { margin-right: var(--space-4); }
  [mr$='sm5'] { margin-right: var(--space-5); }
  [mr$='sm6'] { margin-right: var(--space-6); }
  [mr$='sm7'] { margin-right: var(--space-7); }
  [mr$='sm8'] { margin-right: var(--space-8); }
  [mr$='sm9'] { margin-right: var(--space-9); }
  
  [mx$='smauto'] {margin-left: auto; margin-right: auto; }
  [mx$='sm0'] { margin-left: 0; margin-right: 0; }
  [mx$='sm1'] { margin-left: var(--space-1); margin-right: var(--space-1); }
  [mx$='sm2'] { margin-left: var(--space-2); margin-right: var(--space-2); }
  [mx$='sm3'] { margin-left: var(--space-3); margin-right: var(--space-3); }
  [mx$='sm4'] { margin-left: var(--space-4); margin-right: var(--space-4); }
  [mx$='sm5'] { margin-left: var(--space-5); margin-right: var(--space-5); }
  [mx$='sm6'] { margin-left: var(--space-6); margin-right: var(--space-6); }
  [mx$='sm7'] { margin-left: var(--space-7); margin-right: var(--space-7); }
  [mx$='sm8'] { margin-left: var(--space-8); margin-right: var(--space-8); }
  [mx$='sm9'] { margin-left: var(--space-9); margin-right: var(--space-9); }
  
  [my$='sm0'] { margin-bottom: 0; margin-top: 0; }
  [my$='sm1'] { margin-bottom: var(--space-1); margin-top: var(--space-1); }
  [my$='sm2'] { margin-bottom: var(--space-2); margin-top: var(--space-2); }
  [my$='sm3'] { margin-bottom: var(--space-3); margin-top: var(--space-3); }
  [my$='sm4'] { margin-bottom: var(--space-4); margin-top: var(--space-4); }
  [my$='sm5'] { margin-bottom: var(--space-5); margin-top: var(--space-5); }
  [my$='sm6'] { margin-bottom: var(--space-6); margin-top: var(--space-6); }
  [my$='sm7'] { margin-bottom: var(--space-7); margin-top: var(--space-7); }
  [my$='sm8'] { margin-bottom: var(--space-8); margin-top: var(--space-8); }
  [my$='sm9'] { margin-bottom: var(--space-9); margin-top: var(--space-9); }
  
  [p$='sm0'] { padding: 0; }
  [p$='sm1'] { padding: var(--space-1); }
  [p$='sm2'] { padding: var(--space-2); }
  [p$='sm3'] { padding: var(--space-3); }
  [p$='sm4'] { padding: var(--space-4); }
  [p$='sm5'] { padding: var(--space-5); }
  [p$='sm6'] { padding: var(--space-6); }
  [p$='sm7'] { padding: var(--space-7); }
  [p$='sm8'] { padding: var(--space-8); }
  [p$='sm9'] { padding: var(--space-9); }
  [p$='sm10'] { padding: var(--space-10); }
  [p$='sm11'] { padding: var(--space-11); }
  [p$='sm12'] { padding: var(--space-12); }
  
  
  [pt$='sm0'] { padding-top: 0; }
  [pt$='sm1'] { padding-top: var(--space-1); }
  [pt$='sm2'] { padding-top: var(--space-2); }
  [pt$='sm3'] { padding-top: var(--space-3); }
  [pt$='sm4'] { padding-top: var(--space-4); }
  [pt$='sm5'] { padding-top: var(--space-5); }
  [pt$='sm6'] { padding-top: var(--space-6); }
  [pt$='sm7'] { padding-top: var(--space-7); }
  [pt$='sm8'] { padding-top: var(--space-8); }
  [pt$='sm9'] { padding-top: var(--space-9); }
  
  [pl$='sm0'] { padding-left: 0; }
  [pl$='sm1'] { padding-left: var(--space-1); }
  [pl$='sm2'] { padding-left: var(--space-2); }
  [pl$='sm3'] { padding-left: var(--space-3); }
  [pl$='sm4'] { padding-left: var(--space-4); }
  [pl$='sm5'] { padding-left: var(--space-5); }
  [pl$='sm6'] { padding-left: var(--space-6); }
  [pl$='sm7'] { padding-left: var(--space-7); }
  [pl$='sm8'] { padding-left: var(--space-8); }
  [pl$='sm9'] { padding-left: var(--space-9); }
  
  [pb$='sm0'] { padding-bottom: 0; }
  [pb$='sm1'] { padding-bottom: var(--space-1); }
  [pb$='sm2'] { padding-bottom: var(--space-2); }
  [pb$='sm3'] { padding-bottom: var(--space-3); }
  [pb$='sm4'] { padding-bottom: var(--space-4); }
  [pb$='sm5'] { padding-bottom: var(--space-5); }
  [pb$='sm6'] { padding-bottom: var(--space-6); }
  [pb$='sm7'] { padding-bottom: var(--space-7); }
  [pb$='sm8'] { padding-bottom: var(--space-8); }
  [pb$='sm9'] { padding-bottom: var(--space-9); }
  
  [pr$='sm0'] { padding-right: 0; }
  [pr$='sm1'] { padding-right: var(--space-1); }
  [pr$='sm2'] { padding-right: var(--space-2); }
  [pr$='sm3'] { padding-right: var(--space-3); }
  [pr$='sm4'] { padding-right: var(--space-4); }
  [pr$='sm5'] { padding-right: var(--space-5); }
  [pr$='sm6'] { padding-right: var(--space-6); }
  [pr$='sm7'] { padding-right: var(--space-7); }
  [pr$='sm8'] { padding-right: var(--space-8); }
  [pr$='sm9'] { padding-right: var(--space-9); }
  
  [px$='sm0'] { padding-left: 0; padding-right: 0; }
  [px$='sm1'] { padding-left: var(--space-1); padding-right: var(--space-1); }
  [px$='sm2'] { padding-left: var(--space-2); padding-right: var(--space-2); }
  [px$='sm3'] { padding-left: var(--space-3); padding-right: var(--space-3); }
  [px$='sm4'] { padding-left: var(--space-4); padding-right: var(--space-4); }
  [px$='sm5'] { padding-left: var(--space-5); padding-right: var(--space-5); }
  [px$='sm6'] { padding-left: var(--space-6); padding-right: var(--space-6); }
  [px$='sm7'] { padding-left: var(--space-7); padding-right: var(--space-7); }
  [px$='sm8'] { padding-left: var(--space-8); padding-right: var(--space-8); }
  [px$='sm9'] { padding-left: var(--space-9); padding-right: var(--space-9); }
  
  [py$='sm0'] { padding-bottom: 0; padding-top: 0; }
  [py$='sm1'] { padding-bottom: var(--space-1); padding-top: var(--space-1); }
  [py$='sm2'] { padding-bottom: var(--space-2); padding-top: var(--space-2); }
  [py$='sm3'] { padding-bottom: var(--space-3); padding-top: var(--space-3); }
  [py$='sm4'] { padding-bottom: var(--space-4); padding-top: var(--space-4); }
  [py$='sm5'] { padding-bottom: var(--space-5); padding-top: var(--space-5); }
  [py$='sm6'] { padding-bottom: var(--space-6); padding-top: var(--space-6); }
  [py$='sm7'] { padding-bottom: var(--space-7); padding-top: var(--space-7); }
  [py$='sm8'] { padding-bottom: var(--space-8); padding-top: var(--space-8); }
  [py$='sm9'] { padding-bottom: var(--space-9); padding-top: var(--space-9); }
}