[data-tab] {
  display: flex;
}

[data-tab] > a {
  padding: var(--tab-padding);
  flex: 0 1 auto;
  border-bottom: var(--tab-border) var(--border, var(--tab-border-color)) solid;
  text-align: center;
  text-decoration: none;
  color: var(--color, var(--tab-color));
  font-size: var(--tab-font-size);
  display: inline-block;
  white-space: nowrap;
}

[data-tab] > a:hover {
  border-color: var(--border, var(--tab-border-color));
  text-decoration: none;
}

[data-tab] > a.active {
  border-color: var(--border, var(--tab-border-color));
  color: var(--tab-color, var(--component-primary));
}

[data-tab][data-type*="full"] > a {
  flex: 1;
}

[data-tab][data-type*="simple"] > a {
  border: none;
  border-radius: var(--tab-border-radius);
}

[data-tab][data-type*="simple"] > a.active {
  background-color: var(--bg, var(--tab-border-color));
  color: white;
}