body {
  background-color: var(--bg, var(--body-bg-color));
  font-family: var(--font-family);
  font-weight: var(--font-weight);
  font-size: var(--body-font-size);
  color: var(--body-color);
  line-height: var(--line-height);
}

a {
  color: var(--color, var(--link-color));
  text-decoration: var(--link-text-decoration);
}

a:hover {
  color: var(--link-color-hover);
  text-decoration: var(--link-text-decoration-hover);
}

a[disabled] {
  color: currentColor;
  cursor: not-allowed;
  opacity: 0.5;
}

b, .b {
  font-weight: var(--font-weight-bold);
}

blockquote {
  padding: var(--space-4) var(--space-5);
  background-color: var(--gray-1);
  margin: 0 var(--space-7) var(--p-margin-bottom);
}

code,
.code {
  font-family: var(--font-monospace);
  font-size: var(--code-font-size);
  color: var(--color, var(--code-color));
}

h1, h2, h3, h4, h5, h6, [data-h1], [data-h2], [data-h3], [data-h4], [data-h5], [data-h6] {
  font-weight: var(--headings-font-weight);
  line-height: var(--headings-line-height);
  font-family: var(--headings-font-family);
}

h1, h2, h3, h4, h5, h6 {
  color: var(--color, var(--headings-color));
  margin-bottom: var(--headings-margin-bottom);
}

h1, [data-h1] { font-size: var(--h1);}
h2, [data-h2] { font-size: var(--h2);}
h3, [data-h3] { font-size: var(--h3);}
h4, [data-h4] { font-size: var(--h4);}
h5, [data-h5] { font-size: var(--h5);}
h6, [data-h6] { font-size: var(--h6);}

hr {
  border: none;
  border-top: solid var(--hr-border-width) var(--hr-border-color);
}

img {
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}

p {
  margin-top: 0;
  margin-bottom: var(--p-margin-bottom);
  line-height: var(--body-line-height);
}

small {
  font-size: var(--font-size-small);
}

ul {
  line-height: var(--body-line-height);
}

[data-tooltip] {
  display: inline-block;
  position: relative;
  border-bottom: 0.0625rem dashed var(--component-border-color);
  cursor: grab;
}

[data-tooltip]:hover > [data-tip] {
  display: block;
}

[data-tooltip] [data-tip] {
  display: none;
  position: absolute;
  bottom: 125%;
  left: 50%;
  transform: translateX(-50%);
  min-width: var(--tooltip-min-width);
  padding: var(--tooltip-padding);
  color: var(--color, var(--tooltip-color));
  text-align: center;
  background-color: var(--bg, var(--tooltip-bg-color));
  border-radius: var(--tooltip-border-radius);
}