:root {
  /* Tokens */
  --space-1: 0.25rem; /* 4px */
  --space-2: 0.5rem; /* 8px */
  --space-3: 0.75rem; /* 12px */
  --space-4: 1rem; /* 16px */
  --space-5: 1.25rem; /* 20px */
  --space-6: 1.5rem; /* 24px */
  --space-7: 2rem; /* 32px */
  --space-8: 3rem; /* 48px */
  --space-9: 4rem; /* 64px */
  --space-10: 6rem; /* 96px */
  --space-11: 8rem; /* 128px */
  --space-12: 16rem; /* 256px */

  --fonts-1: 0.75rem; /* 12px */
  --fonts-2: 0.875rem; /* 14px */
  --fonts-3: 1rem; /* 16px */
  --fonts-4: 1.125rem; /* 18px */
  --fonts-5: 1.25rem; /* 20px */
  --fonts-6: 1.5rem; /* 24px */
  --fonts-7: 2rem; /* 32px */
  --fonts-8: 3rem; /* 48px */
  --fonts-9: 4rem; /* 64px */
  --fonts-10: 5rem; /* 80px */
  --fonts-11: 6rem; /* 96px */
  --fonts-12: 8rem; /* 128px */

  --h1: var(--fonts-9);
  --h2: var(--fonts-7);
  --h3: var(--fonts-5);
  --h4: var(--fonts-3);
  --h5: var(--fonts-2);
  --h6: var(--fonts-1);

  /* Colors */
  --white: white;
  --gray-0: #f8f9fa;
  --gray-1: #f1f3f5;
  --gray-2: #e9ecef;
  --gray-3: #dee2e6;
  --gray-4: #ced4da;
  --gray-5: #adb5bd;
  --gray-6: #868e96;
  --gray-7: #495057;
  --gray-8: #343a40;
  --gray-9: #212529;
  --black: black;
  --red: #f03e3e;
  --pink: #d6336c;
  --grape: #ae3ec9;
  --violet: #7048e8;
  --indigo: #4263eb;
  --blue: #1c7ed6;
  --cyan: #1098ad;
  --teal: #0ca678;
  --green: #37b24d;
  --lime: #74b816;
  --yellow: #f59f00;
  --orange: #f76707;

  /* Modifiers */
  --darken: rgba(0, 0, 0, 0.1);
  --darken-more: rgba(0, 0, 0, 0.5);
  --lighten: rgba(255, 255, 255, 0.1);
  --lighten-more: rgba(255, 255, 255, 0.5);
  --shadow: rgba(80, 80, 80, 0.1);
  --shadow-more: rgba(80, 80, 80, 0.5);

  /* Components */
  --component-bg-color: var(--gray-1);
  --component-border-color: var(--gray-6);
  --component-border-radius: 0.125rem;
  --component-border-width: 0.0625rem;
  --component-focus: 0 0 0.125rem 0.125rem var(--gray-3);
  --component-speed: 0.1s;
  --component-shadow: var(--shadow);
  --component-margin-bottom: initial;
  --component-padding: 0.5rem 0.75rem;
  --component-primary: var(--indigo);
  --component-secondary: var(--violet);
  --component-success: var(--green);
  --component-info: var(--cyan);
  --component-warning: var(--orange);
  --component-danger: var(--red);
  --component-disabled: var(--gray-4);
  --bg: initial;
  --color: initial;
  --border: initial;

  /* Alert */
  --alert-border-radius: var(--component-border-radius);
  --alert-padding: 0.75rem;
  --alert-color: var(--gray-9);

  /* Button */
  --button-font-size: var(--fonts-3);
  --button-font-family: inherit;
  --button-font-weight: inherit;
  --button-border-radius: var(--component-border-radius);
  --button-border-width: var(--component-border-width);
  --button-focus: var(--component-focus);
  --button-speed: var(--component-speed);
  --button-padding: 0.75rem 1rem;

  /* Chip */
  --chip-border-radius: 2rem;
  --chip-color: var(--gray-7);
  --chip-focus: var(--component-focus);
  --chip-font-size: 0.75rem;
  --chip-link-color: var(--link-color);
  --chip-speed: var(--component-speed);
  --chip-padding: 0.25rem 0.5rem;
  --chip-weight: var(--font-weight-medium);

  /* Input */
  --input-font-size: var(--component-font-size);
  --input-font-family: inherit;
  --input-font-weight: inherit;
  --input-color: var(--body-color);
  --input-border-color: var(--component-border-color);
  --input-border-width: 0.0625rem;
  --input-border-radius: var(--component-border-radius);
  --input-bg-color: var(--white);
  --input-readonly-bg-color: var(--component-bg-color);
  --input-focus-color: var(--component-primary);
  --input-padding: var(--component-padding);

  /* Tab */
  --tab-color: initial;
  --tab-border-color: initial;
  --tab-border-radius: var(--component-border-radius);
  --tab-border: 0.125rem;
  --tab-font-size: var(--fonts-3);
  --tab-padding: 0.75rem 1rem;

  /* Table */
  --table-bg-color: var(--white);
  --table-border-color: var(--component-border-color);
  --table-border-width: var(--component-border-width);
  --table-header-bg-color: transparent;
  --table-spacing-x: 0.75rem;
  --table-spacing-y: 0.5rem;
  --table-hover-color: var(--white);
  --table-hover-bg-color: initial;
  --table-stripe-bg-color: var(--component-bg-color);

  /* Text */
  --body-font-size: var(--fonts-3);
  --body-bg-color: var(--white);
  --body-color: var(--black);
  --body-color-muted: var(--gray6);
  --body-line-height: 1.25;
  --code-font-size: var(--fonts-3);
  --code-color: var(--gray8);
  --font-sans-serif: sans-serif;
  --font-serif: serif;
  --font-system: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue;
  --font-monospace: Menlo, Consolas, 'DejaVu Sans Mono', monospace;
  --font-family: var(--font-system);
  --font-size-small: var(--fonts-2);
  --font-weight-thin: 200;
  --font-weight: 300;
  --font-weight-medium: 400;
  --font-weight-bold: 600;
  --line-height: 1;
  --headings-font-family: var(--font-system);
  --headings-font-weight: var(--font-weight);
  --headings-line-height: 1;
  --headings-color: inherit;
  --headings-margin-bottom: var(--space-6);
  --hr-border-width: 1px;
  --hr-border-color: var(--gray6);
  --link-color: var(--indigo);
  --link-text-decoration: none;
  --link-color-hover: var(--link-color);
  --link-text-decoration-hover: underline;
  --p-margin-bottom: var(--space-4);
  --placeholder-color: var(--body-color-muted);
  --pre-color: var(--code-color);
  --pre-border-radius: var(--component-border-radius);
  --pre-bg-color: var(--code-bg-color);
  --pre-max-height: none;
  --selection-color: var(--white);
  --selection-bg-color: var(--component-primary);

  /* Tooltip */
  --tooltip-color: var(--white);
  --tooltip-bg-color: var(--gray-6);
  --tooltip-border-radius: var(--component-border-radius);
  --tooltip-min-width: 8rem;
  --tooltip-padding: 0.5rem;
}
